Phoenix-version.cmake
PhoenixConfig.cmake

cmake_install.cmake
CMakeCache.txt
CMakeFiles/
build/*
!build/.gitkeep
lib/
!src/lib
target/

*.sw[nop]
*~

*.so
*.a

# Xcode build / user data
xcuserdata/
*/xcuserdata/
**/xcuserdata/

*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
Debug/
obj/
*.psess
*.vspx

.DS_Store
