[submodule "dep/SDL"]
	path = dep/SDL
	url = git@github.com:phoenix-engine/SDL.git
	branch = release-2.0.8-cmake-fix
[submodule "dep/spdlog"]
	path = dep/spdlog
	url = git@github.com:phoenix-engine/spdlog.git
